@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  background: #252934;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.title {
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.6rem;
  transition: all 0.3s;
  z-index: 1; }
  @media (min-width: 768px) {
    .title {
      font-size: 4.5rem;
      line-height: 4.9rem; } }
  .title__highlight {
    text-align: center;
    color: #00b0ff; }

.subtitle {
  font-weight: 400;
  color: white;
  font-size: 3.2rem;
  line-height: 3.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  transition: all 0.3s; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 4.5rem;
      line-height: 4.9rem; } }

.scrolldown {
  opacity: 0.5;
  align-self: center;
  cursor: pointer;
  margin-top: 30px;
  animation: pulse 2s infinite;
  transition: all 1s;
  display: block;
  background-image: url(../assets/down-arrow.svg);
  width: 20px;
  height: 20px; }
  .scrolldown:hover {
    opacity: 1;
    filter: invert(100%);
    transform: scale(1.1); }

@keyframes pulse {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 10px); }
  100% {
    transform: translate(0, 0); } }

.nav__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1a1d256e;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0;
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 20px; }
  .nav__button:hover {
    background: #1a1d25; }
  .nav__button--active {
    transform: rotate(-90deg); }
  .nav__button span {
    position: absolute;
    background: white;
    width: 25px;
    height: 1px;
    transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s, transform 0.2s 0.4s; }
    .nav__button span:nth-child(1) {
      top: 13px; }
    .nav__button span:nth-child(2) {
      top: 19px; }
    .nav__button span:nth-child(3) {
      top: 25px; }
  .nav__button--active span:nth-child(1) {
    top: 20px;
    transform: rotate(45deg); }
  .nav__button--active span:nth-child(2) {
    opacity: 0; }
  .nav__button--active span:nth-child(3) {
    top: 21px;
    transform: rotate(-45deg); }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #1a1d25;
  z-index: 2;
  transition: all 0.3s; }
  .menu__list {
    list-style: none;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .menu__item {
    width: 90%;
    max-width: 600px;
    height: calc(100% / 4);
    position: relative;
    background-color: rgba(0, 0, 0, 0.02);
    overflow: hidden; }
  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    text-decoration: none;
    color: rgba(128, 128, 128, 0.905);
    transition: all 1s; }
    .menu__link:hover {
      color: white; }
    .menu__link::before {
      top: 0;
      transform: translate3d(-100%, 0, 0);
      background-color: rgba(0, 0, 0, 0.02);
      z-index: -2;
      content: " ";
      height: 75%;
      width: 100%;
      left: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.65, 0.15, 0, 1); }
    .menu__link:hover::before {
      transform: translate3d(0, 0, 0); }
    .menu__link::after {
      transform: translate3d(100%, 0, 0);
      content: " ";
      height: 25%;
      width: 100%;
      left: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.65, 0.15, 0, 1);
      bottom: 0;
      transition-delay: 125ms;
      background-color: rgba(0, 0, 0, 0.02);
      z-index: -3; }
    .menu__link:hover::after {
      transform: translate3d(0, 0, 0); }

.visible {
  top: 0; }

.opacity {
  opacity: 1; }

.about {
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  background: #ffffff; }
  .about__heading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about__title {
    font-weight: 900;
    text-align: center;
    font-size: 3.2rem;
    transition: all 0.3s;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .about__title {
        font-size: 4rem; } }
    @media (min-width: 1000px) {
      .about__title {
        font-size: 5rem; } }
    .about__title-bar {
      background: #444649;
      height: 4px;
      width: 110px; }
  .about__me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 768px) {
      .about__me {
        max-width: 1100px;
        flex-direction: row;
        align-self: center;
        padding: 60px 0 0 0; } }
    .about__me-img {
      width: 250px;
      margin-top: 30px;
      transition: all 0.3s; }
      @media (min-width: 320px) {
        .about__me-img {
          width: 300px; } }
      @media (min-width: 768px) {
        .about__me-img {
          min-width: 400px;
          margin-top: -100px; } }
    .about__me-right {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (min-width: 768px) {
        .about__me-right {
          margin-bottom: 100px; } }
  .about__subtitle {
    font-size: 3rem;
    transition: all 0.3s;
    padding: 30px; }
    @media (min-width: 768px) {
      .about__subtitle {
        font-size: 3.5rem; } }
  .about__description {
    width: 90%;
    font-size: 1.8rem; }
    @media (min-width: 768px) {
      .about__description {
        width: 55%; } }
    .about__description-link {
      text-decoration: none;
      color: #00b0ff;
      transition: all 0.3s;
      width: 200px;
      margin-top: 30px;
      font-size: 2.5rem;
      font-weight: bold; }
      .about__description-link:hover {
        text-transform: scale(1.1); }
      .about__description-link--portfolio {
        margin-top: 0; }
        .about__description-link--portfolio:hover {
          transform: scale(1.1); }

.skills {
  text-align: center;
  padding: 0 0 30px 0; }
  @media (min-width: 768px) {
    .skills {
      padding: 0 0 0 0; } }
  .skills__subtitle {
    font-size: 3rem;
    transition: all 0.3s;
    padding: 30px; }
    @media (min-width: 768px) {
      .skills__subtitle {
        font-size: 3.5rem; } }
  .skills__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .skills__list {
        margin: auto;
        width: 500px; } }
  .skills__item {
    width: 80px;
    height: 90px;
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .skills__logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: all 0.3s; }
    .skills__logo:hover {
      transform: scale(1.1); }
  .skills__text {
    font-weight: 400;
    font-size: 1.4rem;
    transition: all 0.3s; }
    @media (min-width: 768px) {
      .skills__text {
        font-size: 1.8rem; } }

.portfolio {
  min-height: 100vh;
  padding: 30px 0; }
  .portfolio__heading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .portfolio__title {
    font-weight: 900;
    text-align: center;
    font-size: 3.2rem;
    transition: all 0.3s;
    text-transform: uppercase;
    color: white; }
    @media (min-width: 768px) {
      .portfolio__title {
        font-size: 4rem; } }
    @media (min-width: 1000px) {
      .portfolio__title {
        font-size: 5rem; } }
    .portfolio__title::after {
      background: white; }
    .portfolio__title-bar {
      background: #444649;
      height: 4px;
      width: 110px;
      background: white; }

.contact {
  min-height: 100vh;
  padding: 30px 0;
  background: #ffffff; }
  .contact__heading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contact__title {
    font-weight: 900;
    text-align: center;
    font-size: 3.2rem;
    transition: all 0.3s;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .contact__title {
        font-size: 4rem; } }
    @media (min-width: 1000px) {
      .contact__title {
        font-size: 5rem; } }
    .contact__title-bar {
      background: #444649;
      height: 4px;
      width: 110px;
      background: black; }
  .contact__text {
    padding: 30px 0;
    width: 60%;
    margin: auto; }

.footer {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer__links {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .footer__links {
        flex-direction: row; } }
    .footer__links .linkedin {
      margin: 20px;
      display: block;
      width: 150px;
      height: 40px;
      background: rgba(6, 111, 248, 0.548); }
    .footer__links .github {
      margin: 20px;
      display: block;
      width: 150px;
      height: 40px;
      background: rgba(91, 96, 102, 0.294); }
  .footer__text {
    display: block;
    text-transform: uppercase;
    color: rgba(176, 224, 234, 0.61);
    letter-spacing: 2;
    font-size: 1.2rem;
    padding: 20px; }

[data-aos="hover"] {
  font-size: 2.5rem; }
  [data-aos="hover"]:hover.aos-animate {
    font-size: 2.6rem; }

.clicked {
  color: white; }
