@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@keyframes pulse {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 10px); }
  100% {
    transform: translate(0, 0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  animation: fadeIn 3s cubic-bezier(0.24, 0.45, 0.44, 0.93) forwards; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateX(0); } }

.slide-left {
  animation: slideLeft 2s cubic-bezier(0.24, 0.45, 0.44, 0.93) forwards; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateX(0); } }

.slide-right {
  animation: slideRight 2s cubic-bezier(0.24, 0.45, 0.44, 0.93) forwards; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0); } }

.slide-down {
  animation: slideDown 1s ease forwards; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0); } }

.slide-up {
  animation: slideUp 1s ease forwards; }

@keyframes popIn {
  0% {
    transform: scale(0); }
  60% {
    opacity: 1;
    transform: scale(1.05); }
  80% {
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.pop-in {
  animation: popIn 1s ease forwards; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  background: #252934;
  position: relative;
  overflow-x: hidden; }

.header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 4s; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.title {
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.6rem;
  transition: all 0.3s;
  z-index: 1; }
  @media (min-width: 768px) {
    .title {
      font-size: 4.5rem;
      line-height: 4.9rem; } }
  .title__highlight {
    text-align: center;
    color: #00b0ff; }

.subtitle {
  font-weight: 400;
  color: white;
  font-size: 3.2rem;
  line-height: 3.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  transition: all 0.3s; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 4.5rem;
      line-height: 4.9rem; } }

.scrolldown {
  align-self: center;
  cursor: pointer;
  margin-top: 30px;
  animation: pulse 2s infinite;
  transition: all 1s;
  display: block;
  width: 20px;
  height: 20px; }
  .scrolldown__icon {
    opacity: 0.5;
    fill: #00b0ff;
    transition: all 1s; }
    .scrolldown__icon:hover {
      opacity: 1;
      fill: white; }
  .scrolldown:hover {
    transform: scale(1.1);
    animation-play-state: paused; }

.nav__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1a1d256e;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0;
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 20px; }
  .nav__button:hover {
    background: #1a1d25; }
  .nav__button--active {
    transform: rotate(-90deg); }
  .nav__button span {
    position: absolute;
    background: white;
    width: 25px;
    height: 1px;
    transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s, transform 0.2s 0.4s; }
    .nav__button span:nth-child(1) {
      top: 13px; }
    .nav__button span:nth-child(2) {
      top: 19px; }
    .nav__button span:nth-child(3) {
      top: 25px; }
  .nav__button--active span:nth-child(1) {
    top: 20px;
    transform: rotate(45deg); }
  .nav__button--active span:nth-child(2) {
    opacity: 0; }
  .nav__button--active span:nth-child(3) {
    top: 21px;
    transform: rotate(-45deg); }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #1b1e24;
  z-index: 2;
  transition: all 0.3s; }
  .menu__list {
    list-style: none;
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .menu__list {
        height: 60%; } }
  .menu__item {
    width: 90%;
    max-width: 600px;
    height: calc(100% / 4);
    position: relative;
    overflow: hidden; }
  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    text-decoration: none;
    color: #989898;
    transition: all 1s; }
    .menu__link:hover {
      color: white; }
    .menu__link::before {
      top: 0;
      transform: translate3d(-100%, 0, 0);
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -2;
      content: " ";
      height: 75%;
      width: 100%;
      left: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.65, 0.15, 0, 1); }
    .menu__link:hover::before {
      transform: translate3d(0, 0, 0); }
    .menu__link::after {
      transform: translate3d(100%, 0, 0);
      content: " ";
      height: 25%;
      width: 100%;
      left: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.65, 0.15, 0, 1);
      bottom: 0;
      transition-delay: 125ms;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -3; }
    .menu__link:hover::after {
      transform: translate3d(0, 0, 0); }

.visible {
  top: 0; }

.opacity {
  opacity: 1; }

.about {
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  background: #ffffff; }
  .about__heading {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .about__title {
    font-weight: 900;
    text-align: center;
    font-size: 3.2rem;
    transition: all 0.3s;
    text-transform: uppercase;
    opacity: 0; }
    @media (min-width: 768px) {
      .about__title {
        font-size: 4rem; } }
    @media (min-width: 1000px) {
      .about__title {
        font-size: 5rem; } }
    .about__title-bar {
      background: #444649;
      height: 4px;
      width: 110px;
      opacity: 0; }
  .about__me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 768px) {
      .about__me {
        max-width: 1100px;
        flex-direction: row;
        align-self: center;
        padding: 60px 0 0 0; } }
    .about__me-img {
      width: 250px;
      margin-top: 30px;
      transition: all 0.3s;
      opacity: 0; }
      @media (min-width: 320px) {
        .about__me-img {
          width: 300px; } }
      @media (min-width: 768px) {
        .about__me-img {
          min-width: 400px;
          margin-top: -100px; } }
    .about__me-right {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (min-width: 768px) {
        .about__me-right {
          margin-bottom: 100px; } }
  .about__subtitle {
    font-size: 3rem;
    padding: 30px;
    transition: all 0.3s;
    opacity: 0; }
    @media (min-width: 768px) {
      .about__subtitle {
        font-size: 3.5rem; } }
  .about__description {
    width: 90%;
    font-size: 1.8rem;
    opacity: 0; }
    @media (min-width: 768px) {
      .about__description {
        width: 55%; } }
    .about__description-link {
      text-decoration: none;
      color: #00b0ff;
      margin-top: 30px;
      font-size: 2.5rem;
      font-weight: bold;
      opacity: 0;
      position: relative; }
      .about__description-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        background-color: black;
        transform: scaleX(0);
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
      .about__description-link:hover:before {
        transform: scaleX(0.8); }
      .about__description-link--linkedin {
        font-size: 1.8rem;
        font-weight: normal;
        opacity: 1; }
      .about__description-link--portfolio {
        margin-top: 0;
        animation-delay: 0.5s; }

.skills {
  text-align: center;
  padding: 0 0 30px 0; }
  @media (min-width: 768px) {
    .skills {
      padding: 0 0 0 0; } }
  .skills__subtitle {
    font-size: 3rem;
    padding: 30px;
    transition: all 0.3s;
    opacity: 0; }
    @media (min-width: 768px) {
      .skills__subtitle {
        font-size: 3.5rem; } }
  .skills__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .skills__list {
        margin: auto;
        width: 500px; } }
  .skills__item {
    width: 80px;
    height: 90px;
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; }
  .skills__logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: all 0.3s; }
    .skills__logo:hover {
      transform: scale(1.1); }
  .skills__text {
    font-weight: 400;
    font-size: 1.4rem;
    transition: all 0.3s; }
    @media (min-width: 768px) {
      .skills__text {
        font-size: 1.8rem; } }

.portfolio {
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  background: #f5f5f5; }
  .portfolio__heading {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .portfolio__title {
    font-weight: 900;
    text-align: center;
    font-size: 3.2rem;
    transition: all 0.3s;
    text-transform: uppercase;
    opacity: 0;
    color: black; }
    @media (min-width: 768px) {
      .portfolio__title {
        font-size: 4rem; } }
    @media (min-width: 1000px) {
      .portfolio__title {
        font-size: 5rem; } }
    .portfolio__title-bar {
      background: #444649;
      height: 4px;
      width: 110px;
      opacity: 0;
      background: black; }
  .portfolio .projects__container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 10px;
    padding: 30px 0;
    transition: all 1s;
    margin: auto; }
    @media (min-width: 768px) {
      .portfolio .projects__container {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 1200px) {
      .portfolio .projects__container {
        padding: 60px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        max-width: 1000px; } }
    .portfolio .projects__container .project {
      opacity: 0; }
      .portfolio .projects__container .project__img {
        position: relative;
        width: 100%;
        max-width: 350px;
        height: auto;
        min-height: 240px;
        max-height: 240px;
        transition: all 0.5s;
        overflow: hidden; }
        .portfolio .projects__container .project__img:hover {
          transform: scale(1.02); }
        @media (min-width: 768px) {
          .portfolio .projects__container .project__img {
            max-width: 100%; } }

.contact {
  padding: 30px 0;
  background: #ffffff; }
  .contact__heading {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .contact__title {
    font-weight: 900;
    text-align: center;
    font-size: 3.2rem;
    transition: all 0.3s;
    text-transform: uppercase;
    opacity: 0; }
    @media (min-width: 768px) {
      .contact__title {
        font-size: 4rem; } }
    @media (min-width: 1000px) {
      .contact__title {
        font-size: 5rem; } }
    .contact__title-bar {
      background: #444649;
      height: 4px;
      width: 110px;
      opacity: 0;
      background: black; }
  .contact__text {
    padding: 30px 0;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    color: #00b0ff;
    opacity: 0; }
    @media (min-width: 768px) {
      .contact__text {
        padding: 60px 0; } }
    .contact__text-mail {
      text-decoration: none;
      color: black;
      transition: all 0.5s;
      position: relative; }
      .contact__text-mail:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        background-color: black;
        transform: scaleX(0);
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
      .contact__text-mail:hover:before {
        transform: scaleX(0.8); }
  .contact__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto; }
    @media (min-width: 500px) {
      .contact__form {
        width: 500px; } }
    .contact__form-message {
      background: #1e242c;
      border: 0;
      color: #fff;
      margin-bottom: 3px;
      padding: 10px 15px;
      min-height: 200px;
      resize: vertical; }
    .contact__form-name {
      padding: 10px 15px; }
    .contact__form-mail {
      padding: 10px 15px; }
    .contact__form-submit {
      font-family: "Raleway", sans-serif;
      display: flex;
      justify-content: center;
      align-self: flex-end;
      cursor: pointer;
      transition: all 0.5s;
      margin-top: 5px;
      padding: 10px 30px; }
      .contact__form-submit:hover {
        background: #00b0ff; }
    .contact__form-label {
      display: none; }
    .contact__form input {
      background: #1e242c;
      border: 0;
      color: #fff;
      margin-bottom: 3px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px; }
  @media (min-width: 768px) {
    .footer {
      height: 20vh; } }
  .footer__links {
    display: flex; }
    .footer__links-link {
      margin: 10px;
      width: 40px;
      height: 40px;
      transition: all 0.5s; }
      .footer__links-link:hover {
        transform: scale(1.05); }
      .footer__links-link--linkedin {
        background: url(../assets/linkedin.svg); }
      .footer__links-link--github {
        background: url(../assets/github.svg);
        background-size: contain;
        filter: invert(100%); }
  .footer__text {
    text-transform: uppercase;
    color: rgba(176, 224, 234, 0.61);
    letter-spacing: 2;
    font-size: 1.2rem;
    padding: 20px; }

.highlight {
  color: white; }
