$breakpoints: (
  "xsmall": 320px,
  "small": 500px,
  "medium": 768px,
  "large": 1000px,
  "x-large": 1200px,
  "xx-large": 1500px,
) !default;

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin max-media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin section {
  min-height: 100vh;
  padding: 30px 0;
}

@mixin title {
  font-weight: 900;
  text-align: center;
  font-size: 3.2rem;
  transition: all 0.3s;
  text-transform: uppercase;
  opacity: 0;

  @include media("medium") {
    font-size: 4rem;
  }

  @include media("large") {
    font-size: 5rem;
  }
}

@mixin title-bar {
  background: #444649;
  height: 4px;
  width: 110px;
  opacity: 0;
}

@mixin heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin subtitle {
  font-size: 3rem;
  padding: 30px;
  transition: all 0.3s;
  opacity: 0;

  @include media("medium") {
    font-size: 3.5rem;
  }
}
