@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap");
@import "mixins";

$blue: #00b0ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  background: #252934;
  position: relative;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.title {
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.6rem;
  transition: all 0.3s;
  z-index: 1;

  @include media("medium") {
    font-size: 4.5rem;
    line-height: 4.9rem;
  }

  &__highlight {
    text-align: center;
    color: $blue;
  }
}

.subtitle {
  font-weight: 400;
  color: white;
  font-size: 3.2rem;
  line-height: 3.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  transition: all 0.3s;

  @include media("medium") {
    font-size: 4.5rem;
    line-height: 4.9rem;
  }
}

.scrolldown {
  opacity: 0.5;
  align-self: center;
  cursor: pointer;
  margin-top: 30px;
  animation: pulse 2s infinite;
  transition: all 1s;
  display: block;
  background-image: url(../assets/down-arrow.svg);
  width: 20px;
  height: 20px;

  &:hover {
    opacity: 1;
    filter: invert(100%);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.nav {
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1a1d256e;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    opacity: 0;
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 20px;

    &:hover {
      background: #1a1d25;
    }

    &--active {
      transform: rotate(-90deg);
    }

    span {
      position: absolute;
      background: white;
      width: 25px;
      height: 1px;
      transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s,
        transform 0.2s 0.4s;

      &:nth-child(1) {
        top: 13px;
      }

      &:nth-child(2) {
        top: 19px;
      }

      &:nth-child(3) {
        top: 25px;
      }
    }

    &--active span:nth-child(1) {
      top: 20px;
      transform: rotate(45deg);
    }

    &--active span:nth-child(2) {
      opacity: 0;
    }

    &--active span:nth-child(3) {
      top: 21px;
      transform: rotate(-45deg);
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #1a1d25;
  z-index: 2;
  transition: all 0.3s;

  &__list {
    list-style: none;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    width: 90%;
    max-width: 600px;
    height: calc(100% / 4);
    position: relative;
    background-color: rgba(0, 0, 0, 0.02);
    overflow: hidden;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    text-decoration: none;
    color: rgba(128, 128, 128, 0.905);
    transition: all 1s;

    &:hover {
      color: white;
    }

    &::before {
      top: 0;
      transform: translate3d(-100%, 0, 0);
      background-color: rgba(0, 0, 0, 0.02);
      z-index: -2;
      content: " ";
      height: 75%;
      width: 100%;
      left: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.65, 0.15, 0, 1);
    }

    &:hover::before {
      transform: translate3d(0, 0, 0);
    }

    &::after {
      transform: translate3d(100%, 0, 0);
      content: " ";
      height: 25%;
      width: 100%;
      left: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.65, 0.15, 0, 1);
      bottom: 0;
      transition-delay: 125ms;
      background-color: rgba(0, 0, 0, 0.02);
      z-index: -3;
    }

    &:hover::after {
      transform: translate3d(0, 0, 0);
    }
  }
}

.visible {
  top: 0;
}

.opacity {
  opacity: 1;
}

.about {
  @include section;
  display: flex;
  flex-direction: column;
  background: #ffffff;

  &__heading {
    @include heading;
  }

  &__title {
    @include title;
    &-bar {
      @include title-bar;
    }
  }
  &__me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include media("medium") {
      max-width: 1100px;
      flex-direction: row;
      align-self: center;
      padding: 60px 0 0 0;
    }

    &-img {
      width: 250px;
      margin-top: 30px;
      transition: all 0.3s;

      @include media("xsmall") {
        width: 300px;
      }

      @include media("medium") {
        min-width: 400px;
        margin-top: -100px;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media("medium") {
        margin-bottom: 100px;
      }
    }
  }

  &__subtitle {
    @include subtitle;
    padding: 30px;
  }

  &__description {
    width: 90%;
    font-size: 1.8rem;

    @include media("medium") {
      width: 55%;
    }

    &-link {
      text-decoration: none;
      color: $blue;
      transition: all 0.3s;
      width: 200px;
      margin-top: 30px;
      font-size: 2.5rem;
      font-weight: bold;

      &:hover {
        text-transform: scale(1.1);
      }

      &--portfolio {
        margin-top: 0;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.skills {
  text-align: center;
  padding: 0 0 30px 0;

  @include media("medium") {
    padding: 0 0 0 0;
  }

  &__subtitle {
    @include subtitle;
    padding: 30px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include media("medium") {
      margin: auto;
      width: 500px;
    }
  }

  &__item {
    width: 80px;
    height: 90px;
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.4rem;
    transition: all 0.3s;

    @include media("medium") {
      font-size: 1.8rem;
    }
  }
}

.portfolio {
  @include section;

  &__heading {
    @include heading;
  }

  &__title {
    @include title;
    color: white;
    &::after {
      background: white;
    }
    &-bar {
      @include title-bar;
      background: white;
    }
  }
}

.contact {
  @include section;
  background: #ffffff;

  &__heading {
    @include heading;
  }

  &__title {
    @include title;
    &-bar {
      @include title-bar;
      background: black;
    }
  }

  &__text {
    padding: 30px 0;
    width: 60%;
    margin: auto;
  }
}

.footer {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__links {
    display: flex;
    flex-direction: column;
    @include media("medium") {
      flex-direction: row;
    }

    .linkedin {
      margin: 20px;
      display: block;
      width: 150px;
      height: 40px;
      background: rgba(6, 111, 248, 0.548);
    }

    .github {
      margin: 20px;
      display: block;
      width: 150px;
      height: 40px;
      background: rgba(91, 96, 102, 0.294);
    }
  }
  &__text {
    display: block;
    text-transform: uppercase;
    color: rgba(176, 224, 234, 0.61);
    letter-spacing: 2;
    font-size: 1.2rem;
    padding: 20px;
  }
}

[data-aos="hover"] {
  font-size: 2.5rem;
  &:hover {
    &.aos-animate {
      font-size: 2.6rem;
    }
  }
}

.clicked {
  color: white;
}
